@model SaMiKeysViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (Model.SaMiKeys != null && Model.SaMiKeys.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SaMiKeys[0].Key)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SaMiKeys[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SaMiKeys[0].Description)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SaMiKeys)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Key)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No saved keys.</p>
}

